header{
    height:10vh;
    display:flex;
    justify-content: center;
}
.title{
    font-size:2rem;
    align-self: center;
}
.issues::-webkit-scrollbar {
    display: none;
}
.repositories::-webkit-scrollbar {
    display: none;
}
.search-result{
    margin:1rem 0 ;
}
.repositories{
    height: 72vh;
    overflow-y: scroll;
}
.issue{
    margin-top:1rem;
}
.issues{
    height: 72vh;
    overflow-y: scroll;
}
.card-title{
    display:inline-block;
}
.badge{
    font-size: .75rem;
}
.details{
    margin:0 .25rem;
}
.row{
    margin:0;
}
.total-found{
    display:none;
}
.issue-title{
    display:none;
}
