<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6fd7bfaf7e.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Git Search</title>
</head>
<body ng-app="gitSearch" ng-controller="controller">
    <form ng-submit="getInput()">
        <div class="input-group col-8 offset-2 mb-3">
                <input type="text" ng-model="text" name="text" class="form-control" placeholder="Search Git Repositories" aria-label="Search Git Repositories" aria-describedby="button-addon2">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
        </div>
    </form>
    <div class="container">
        <div class="search-result col-8" ng-repeat="repository in search">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{repository.name}}</h5>
                    <span class="details badge badge-pill badge-secondary">
                        Forked <span class="badge badge-light">{{repository.forks_count}}</span>
                    </span>
                    <span class="details badge badge-pill badge-warning">
                        Stargazers <span class="badge badge-light">{{repository.stargazers_count}}</span>
                    </span>
                    <spa  class="details badge badge-pill badge-danger">
                        Open Issues <span class="badge badge-light">{{repository.open_issues_count}}</span>
                    </span>
                </div>
                <div class="card-body">
                    <p class="card-text">{{repository.description}}</p>
                    <button ng-click="getIssues(repository.full_name)" class="btn btn-primary">View Issues</button>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/search-factory.js"></script>
</html>